body{
	padding-top: 70px;
}

.paginate{
	margin: 0px auto;
}

.pagination > li > a{
	text-decoration: none;
	display: block;
	border: 4px solid #663300;
	color: #000;
	font-weight: 400;
	font-size: 1.6em;
	border-radius: 10px;
	width: 2em;
	height: auto;
	padding: 8px;
}